<% content_for :title, "Sign Up" %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for @user do |f| %>

      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@user.errors.count, "error") %> prohibited
            this user from being saved:
          </h2>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <p>
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control" %>
      </p>

      <p>
        <%= f.label :email %><br>
        <%= f.text_field :email, class: "form-control" %>
      </p>

      <p>
        <%= f.label :password %><br>
        <%= f.password_field :password, class: "form-control" %>
      </p>

      <p>
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </p>
      <p>
        <%= f.check_box :is_admin, class: "checkbox-inline" %> <b>is_admin</b>
      </p>

      <p>
        <%= f.submit class: 'btn btn-primary form-control' %>
      </p>

      

    <% end %>
  </div>
</div>

